/* Header */
.header {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-family: "Poppins", sans-serif;
  border-bottom: #e5e5e5 solid 1px;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
  
}

.header-left {
  width: 240px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle {
  width: 26px;
  height: 26px;
  background-color: #67a9e6;
  border-radius: 50%;
  position: absolute;
  left: 59px;
  z-index: 0;
}

.logo {
  width: 60px;
  position: relative;
  font-size: 24px;
}

.nav-bar {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 625px;
  height: 32px;
  padding: 0 10px;
  background-color: #f8f9fd;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 12px;
}

.search-icon {
  font-size: 12px;
  opacity: 50%;
}

.fa-chevron-down {
  opacity: 50%;
  color: #1f384c;
}

.header-right {
  width: 218px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 32px;
}

.header-right .fa-hamburger {
  background-color: #ffe6cc;
  padding: 5px;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fa-hamburger {
  font-size: 32px;
  color: #e76f51;
}
.user-name {
  color: #1f384c;
  font-weight: 400;
  font-size: 12px;
}

.notification-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b0c3cc;
}


.container {
  display: grid;
  grid-template-columns: 230px 1fr;
  padding-top: 65px;
}

/* Sidebar */
.sidebar {
  background: rgba(1, 0, 57, 0.04);
  height: calc(100vh - 64px);
  padding: 24px 16px;
  color: #1f2937;
  border-right: 1px solid #e5e7eb;
}

.sidebar-title {
  opacity: 50%;
  color: #082431;
  font-size: 11px;
  margin-bottom: 12px;
  margin-top: 24px;
  font-weight: 400;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 12px;
  border-radius: 8px;
  color: #767D87;
  cursor:pointer;
  transition: background-color 0.2s ease;
}

.sidebar-item i {
  margin-right: 12px;
  font-size: 16px;
  color: #767D87;
}

.sidebar-item:hover {
  background: rgba(80, 65, 120, 0.2);
  color: #504178;
font-weight: 600;
transform: translateX(10px);
}

.sidebar-item:hover i {
  color: #504178;
}


.main{
  width: 1127px;
  margin: auto;
  margin-top: 35px;
}

.page-title {
  font-size: 24px;
  font-weight: 500;
  color: #1f2937;
  margin-bottom: 24px;
  letter-spacing: 0.3px;
}

.stat-cards {
  display: flex;
  justify-content: space-between;
  gap: 34px;
  margin-bottom: 32px;
}

.stat-card {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 16px 24px;
  width: calc(25% - 18px); /* 4 cartes par ligne avec 24px de gap */
}


/* Icône */
.icon-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 16px;
  flex-shrink: 0;
}

/* Dégradés personnalisés */
.gradient-purple {
  background: linear-gradient(135deg, #504178, #e56b86);
}

.gradient-green {
  background: linear-gradient(135deg, #22c55e, #a3e635);
}

.gradient-red {
  background: linear-gradient(135deg, #ef4444, #f87171);
}

.stat-text .stat-value {
  font-size: 24px;
  font-weight: 600;
  color:#1F384C;
  line-height: 27px;
}

.stat-text .stat-label {
  font-size: 16px;
  color: #80809C;
  font-weight: 400;
  margin-top: 4px;
}

.stat-change {
  font-size: 12px;
  color: #149D52;
  margin-left: 6px;
  font-weight: 500;
}


