/* Header */
.header {
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0px 20px;
  font-family: "Poppins", sans-serif;
  border-bottom: #e5e5e5 solid 1px;
  position: fixed;
  background-color: white;
  z-index: 1000;
}

.header-left {
  width: 240px;
  height: 32px;
  position: relative;
  display: inline-block;
}

.circle {
  width: 26px;
  height: 26px;
  position: absolute;
    top: 46%;
    left: -5px;
    transform: translate(-30%, -50%);
    z-index: -1;
  background-color: #67a9e6;
  border-radius: 50%;
}

.logo {
  width: 60px;
  position: relative;
  font-size: 24px;
  z-index: 1;
}

.nav-bar {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 625px;
  height: 32px;
  padding: 0 10px;
  background-color: #f8f9fd;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 12px;
}

.search-icon {
  font-size: 12px;
  opacity: 50%;
}

.fa-chevron-down {
  opacity: 50%;
  color: #1f384c;
}

.header-right {
  width: 218px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 32px;
}

.header-right .fa-hamburger {
  background-color: #ffe6cc;
  padding: 5px;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fa-hamburger {
  font-size: 32px;
  color: #e76f51;
}

.user-name {
  color: #1f384c;
  font-weight: 400;
  font-size: 12px;
}

.notification-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b0c3cc;
}

.container {
  display: grid;
  grid-template-columns: 230px 1fr;
  padding-top: 65px;
}

/* Sidebar */
.sidebar {
  background: rgba(1, 0, 57, 0.04);
  padding: 24px 16px;
  color: #1f2937;
  border-right: 1px solid #e5e7eb;
}

.sidebar-title {
  opacity: 50%;
  color: #082431;
  font-size: 11px;
  margin-bottom: 12px;
  margin-top: 24px;
  font-weight: 400;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 12px;
  border-radius: 8px;
  color: #767d87;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sidebar-item i {
  margin-right: 12px;
  font-size: 16px;
  color: #767d87;
}

.sidebar-item:hover {
  background: rgba(80, 65, 120, 0.2);
  color: #504178;
  font-weight: 600;
  transform: translateX(10px);
}

.sidebar-item:hover i {
  color: #504178;
}

.main {
  width: 1127px;
  margin: auto;
  margin-top: 35px;
}

.page-title {
  font-size: 24px;
  font-weight: 500;
  color: #1f2937;
  margin-bottom: 24px;
  letter-spacing: 0.3px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 34px;
  margin-bottom: 32px;
}

.card-contain {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 16px 24px;
  width: calc(25% - 18px);
}

/* Icône */
.icon-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 16px;
}

/* Dégradés personnalisés */
.gradient-purple {
  background: linear-gradient(135deg, #504178, #e56b86);
}

.gradient-green {
  background: linear-gradient(135deg, #22c55e, #a3e635);
}

.gradient-red {
  background: linear-gradient(135deg, #ef4444, #f87171);
}

.card-value {
  font-size: 24px;
  font-weight: 600;
  color: #1f384c;
  line-height: 27px;
}

.card-label {
  font-size: 16px;
  color: #80809c;
  font-weight: 400;
  margin-top: 4px;
}

.card-change {
  font-size: 12px;
  color: #149d52;
  margin-left: 6px;
  font-weight: 500;
}

.statistik-section {
  height: 520px;
  display: flex;
  gap: 32px;
  background: #ffffff;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 32px;
  box-sizing: border-box;
}

.statistik-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #d6d6d6;
}

.statistik-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
}

.title-left {
  font-size: 18px;
  font-weight: 600;
  color: #1f384c;
  margin: 0;
  letter-spacing: 0.3px;
}

.statistik-date {
  width: 150px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  color: #504178;
  border: 1px solid #00000033;
  border-radius: 10px;
}

.statistik-date i {
  font-size: 14px;
  color: #6b7280;
}

.graph-container {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  padding: 24px 24px 0px;
  width: max-content;
}

.y-axis {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 400px;
  font-size: 12px;
  color: #939393;
  font-weight: 400;
}

.statistik-bars {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  height: 400px;
}

.statistik-bar-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.bar {
  width: 20px;
  height: 100%;
  background-color: #eee9fa;
  position: relative;
  border-radius: 0;
}

.bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #4b3f72;
  display: block;
  border-radius: 0;
}

.h-90::after {
  height: 90%;
}

.h-80::after {
  height: 80%;
}

.h-70::after {
  height: 70%;
}

.h-65::after {
  height: 65%;
}

.h-50::after {
  height: 50%;
}

.h-40::after {
  height: 40%;
}

.h-30::after {
  height: 30%;
}

.statistik-bar-item span {
  font-size: 12px;
  font-weight: 400;
  color: #939393;
}

.statistik-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-right h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 10px;
  color: #1f384c;
}

.statistik-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.statistik-right li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #273240;
  margin-bottom: 15px;
}

.overview-section {
  background: #ffffff;
  padding: 24px 24px 0px;
  border-radius: 12px;
  margin-bottom: 40px;
}

.overview-title {
  font-size: 18px;
  font-weight: 600;
  color: #1f384c;
  margin-bottom: 24px;
}

.table-wrapper {
  overflow-x: auto;
}

.overview-section table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: #464e5f;
}

.overview-section thead {
  background-color: #f3f6f9;
  color: #1f384c;
  font-size: 14px;
  font-weight: 600;
}

thead th:first-child {
  border-radius: 6px;
}

thead th:last-child {
  border-radius: 6px;
}

.overview-section th,
.overview-section td {
  padding: 0 12px;
  height: 55px;
  text-align: left;
  vertical-align: middle;
  border: none;
}

.overview-section tbody tr:nth-child(even) {
  background-color: #f9fafb;
}

.navigation-pages {
  margin-bottom: 24px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.prev {
  font-size: 14px;
  color: #86868c;
  margin-right: 15px;
}

.page {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #6b7280;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.next {
  font-size: 14px;
  color: #010039;
  font-weight: 600;
  margin-left: 15px;
}

.page:hover {
  background-color: #4b3f72;
  color: #fff;
}
